body {
  background-color: grey;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width:1440px) {
/*широкий*/
.flex-row-my {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center ;


}
.flex-column-my {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
  #Slider {
   width:100%;
   margin-top:-105px;
   max-width: 1440px;
  }

.carousel-caption {
    top: 45%;
    bottom: auto;
}

#Slider2 {
 width:30%;
 margin:40px;
}

  #MainMenu {
   //background-color: green;
   align-items: center;
   justify-content: center;
   margin-top: 25px;
   height: 80px;
   z-index: 1;
   max-width: 1440px;
  }
  #MainMenu > button {
    color: black;
    margin: 1%;
  }
  #MainBlock {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 1440px;
  }

  #AboutUs {
    background-color: white;
    width:100%;
    max-width: 1440px;
  }

  #WeAreAmazing {
    background-image: url("card5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    width:100%;
    max-width: 1440px;
  }

  #WeAreATeam{
    background-color: white;
    width:100%;
    max-width: 1440px;
  }
  .card {
    width: 24%;
    margin:1%;
  }
  #SeeOurWork{
    background-color: white;
    width:100%;
    max-width: 1440px;

  }
  #ClientLogos{
    background-color: orange;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
    max-width: 1440px;
  }
  #Responsive {
    background-color: white;
    width:100%;
    max-width: 1440px;
  }
  #Footer{
    background-color: rgba(48,48,48,1);
    color:white;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
    max-width: 1440px;
  }

#Footer > littlePic{
    float:left;
}

  #Bottom{
    background-color: black;
    color:rgba(115,115,115,1);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-width: 1440px;
  }

  #aBottom {

  }

  i {
    padding:15px;
  }
  button {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      outline:none;
      padding:5px;
  }
  button:hover{
    background-color:rgba(50,50,50,1);
    color:orange;
    border-radius:10px;
    padding: 5px;
  }
  #buttonBorder {
    border: solid white 1px;
    min-width:40%;
    border-radius: 5px;
  }
  #addBorder {
    border:solid 2px white;
    border-radius:5px;
  }
  #whiteButton {
    border:solid orange 1px;
    color:orange;
    background-color: white;
    border-radius: 5px;
    padding:15px;
    padding-right: 15px;
    margin:10px;


  }
  #whiteButton:hover {
    border:solid orange 1px;
    color:white;
    background-color: darkorange;
    border-radius: 5px;
    padding:15px;
    padding-right: 15px;
    margin:10px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color:orange;
    text-decoration: none;
  }
  hr {
    border:solid black 1px;
  }
  text {
    text-align:center;
  }
  i {
    padding:5px;
  }
  #orangeIcon {
    color:orange;
    padding:20px;
  }
}
@media (max-width:1440px){
/*узкий*/
.flex-row-my {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center ;


}
.flex-column-my {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
  #Slider {
   width:100%;
   margin-top:-105px;
  }

.carousel-caption {
    top: 45%;
    bottom: auto;
}


  #MainMenu {
   align-items: center;
   justify-content: center;
   height: 80px;
   z-index: 1;
  }
  #MainMenu > button {
    color: black;
    margin: 2%;
    font-size: 10pt;
  }
  #MainBlock {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  #AboutUs {
    background-color: white;
    width:100%;

  }

  #AboutUs2 {
    margin-right: 5%;
    margin-left: 5%;
    align-items: flex-start;
    justify-content: flex-start;

  }
  #Slider2 {
   width:100%;
   margin-right: 40px;
   width: 50%;
  }
  .aboutUScol {
    width: 50%;
    display: flex;
    align-items: flex-start;
    font-size: 10pt;
    text-align: right;
  }

  .textLeft {
    text-align: left;
    margin-bottom: 15pt;

  }

  .heading {
    margin-top: 80px;
  }
  .littleText {
    font-size: 10pt;
    margin-top: -25px;
    margin-bottom: 40px;
  }
  .card-text2 {
    text-align: center;
  }


  #WeAreAmazing {
    background-image: url("third.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    width:100%;
  }
  .amazing {
    width:33%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
  }

  .allAmazing {
    margin-left: 10%;
    margin-right: 10%;
  }

.iconOnRoad {
display:flex;
flex-direction: column;
justify-content:space-around;
align-items: flex-start;
justify-content: flex-start;
margin-top: 0;

}

.headOnRoad {
  font-weight: bold;
}


.littleTextOnRoad {
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: left;
}


  #WeAreATeam{
    background-color: white;
    width:100%;
  }
  .card {
    width: 24%;
    margin:1%;
    border: 0;
    text-align: justify;
  }
.row {
  align-self: center;
  justify-content: space-around;
}

  #SeeOurWork{
    background-color: white;
    width:100%;
  }
  .divImgSeeMyWork {
    width:25%;
    height:100%;
  }
  .divImgSeeMyWork > img {
    width:100%;
    height:100%;
  }

  #ClientLogos{
    background-color: orange;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
  }

  #Slider3 {
   width:100%;
  }
  #logo {
    font-size: 6pt;
    padding:2%;
  }





  #Responsive {
    background-color: white;
    width:100%;
  }
  #Footer{
    background-color: rgba(48,48,48,1);
    color:white;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom:5%;
    padding-top: 2%;
  }

 .littlePic{
    border: 2%;
    padding:2%;
    margin:2%;
}
.padding {
  padding:5%;

}

.flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:1%;
}

  #Bottom{
    background-color: black;
    color:rgba(115,115,115,1);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }

  .aBottom {
    font-size: 10pt;
    padding:5px;
  }
  i {
    padding:15px;
  }
  button {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      outline:none;
      padding:5px;
      font-weight: bold;



  }
  button:hover{
    background-color:rgba(50,50,50,1);
    color:orange;
    border-radius:10px;
    padding: 5px;


  }




  #buttonBorder {
    border: solid white 1px;
    min-width:40%;
    border-radius: 5px;
  }
  #addBorder {
    border:solid 2px white;
    border-radius:5px;
  }
  #whiteButton {
    border:solid orange 1px;
    color:orange;
    background-color: white;
    border-radius: 5px;
    padding:15px;
    padding-right: 15px;
    margin:10px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  #whiteButton:hover {
    border:solid orange 1px;
    color:white;
    background-color: darkorange;
    border-radius: 5px;
    padding:15px;
    padding-right: 15px;
    margin:10px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color:orange;
    text-decoration: none;
  }
  hr {
    border:solid black 1px;
  }
  text {
    text-align:center;
  }
  i {
    padding:5px;
  }
  #orangeIcon {
    color:orange;
    font-size: 20pt;
    width: 40pt;
    height: 100pt;
  }
hr {
  border:solid white 1px;
  width:18%;
}
}
