body {
  background-color: grey;
  display:flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width:1440px) {
/*широкий*/
 #MainMenu {
  background-color: red;
  display:flex;
  flex-direction: row;
  min-width: 1440px;

 }

 #Slider {
  background-color: blue;
  display:flex;
  flex-direction:row;
 }
 #AboutUs {

 }

 #WeAreAmazing {
 }
 #WeAreATeam{

 }
 #SeeOurWork{

 }
 #Responsive{

 }
 #Footer{

 }
 #Bottom{

 }
}
@media (max-width:1440px){
/*узкий*/
.flex-row-my {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center  ;


}
.flex-column-my {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
  #Slider {
   width:100%;
   margin-top:-80px;
  }

.carousel-caption {
    top: 45%;
    bottom: auto;
}

#Slider2 {
 width:30%;
 margin:40px;
}

  #MainMenu {
   //background-color: green;
   align-items: center;
   justify-content: center;
   height: 80px;
   z-index: 1;
  }
  #MainMenu > button {
    color: black;
    margin: 2%;
  }
  #MainBlock {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  #AboutUs {
    background-color: orange;
    width:100%;
  }

  #WeAreAmazing {
    background-color: red;
    background-image: url("card3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
  }

  #WeAreATeam{
    background-color: orange;
    width:100%;
  }
  .card {
    width: 24%;
    margin:1%;
  }
  #SeeOurWork{
    background-color: red;
    width:100%;

  }
  #ClientLogos{
    background-color: orange;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
  }
  #Responsive {
    background-color: green;
    width:100%;
  }
  #Footer{
    background-color: red;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
  }

#Footer > littlePic{
    float:left;
}

  #Bottom{
    background-color: orange;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

  }
  i {
    padding:15px;
  }
}
