HTML{
  background-color : rgba(0,0,0,1);
  background-size : cover;
}

.flex-header{
  background-color : rgba(255,255,255,0.5);
  text-align : center;
  line-height : 10vh;
  display : flex;
  flex-direction : row;
  justify-content : space-around; /* center items horizontally, in this case */
  align-items : center;
  position : fixed;
  border-style : solid;
  margin-left : 0;
  width : 98%;
  height : 10vh;
  margin-top : 0px;
  z-index : 2;
}
.flex-header:hover {
  background-color : rgba(0,0,0,1);
  color : rgba(255,255,255,1);
  display : flex;

}
.columnLeft{
  display : flex;
  flex-wrap : nowrap;
  height : 80%;
  width : 20%;
  float : left;
  position : relative;
}
.columnRight{
  display : flex;
  flex-wrap : nowrap;
  height : 80%;
  width : 20%;
  float : right;
  position : relative;
}
.columnCenter{
  display : flex;
  flex-wrap : nowrap;
  text-align : center;
  float : none;
}
.flex-mainBlockRow{
  background-color : grey;
  display : flex;
  flex-direction : row;
  justify-content : space-around; /* center items horizontally, in this case */
  align-items : center;
  position : absolute;
  border-style : solid;
  margin-left : 0;
  margin-right : 0;
  width : 98%;
  margin-top : 10%;
}
.flex-mainBlockColumnLeft{
  background-color : rgba(0,0,0,1);
  color : rgba(255,255,255,1);
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  align-items : center;
  position : static;
  float : left;
  border-right : solid;
  border-left : solid;
  margin-left : 15%;
  width : 34%;
  margin-top : 10%;
}

.flex-mainBlockColumnRight{
  background-color : rgba(0,0,0,1);
  color : rgba(255,255,255,1);
  display : flex;
  flex-direction :column;
  justify-content :space-around;
  align-items : center;
  position : static;
  float : right;
  border-right : solid;
  border-left : solid;
  margin-right :15%;
  width : 34%;
  height : auto;
  margin-top : 10%;
  margin-bottom : 18vh;
}
.mainBlock{
  padding-top :  50px;
}
span{
  width : 100%;
  text-align : center;
  word-wrap : break-word;
}
footer{
  background-color : rgba(72,72,72,0.3);
  color : rgba(255,255,255,0.3);
  text-align : center;
  display : block;
  position : fixed;
  width : 98%;
  height : 15vh;
  bottom : 0px;
  border-radius : 5px 5px 5px 5px;
}

footer:hover{
  background-color : rgba(0,0,0,1);
  color : rgba(255,255,255,1);
}
