HTML{
  background-color: black;
}
.green{
  width : 99%;
  background-color : darkgreen;
  height: 30%;
  margin-top:1%;
  display: inline-block;
  position: absolute;
  text-align: center;

}
.pink{
  width : 99%;
  background-color : pink;
  margin-top:16%;
  height: 19%;
  display: inline-block;
  position:absolute;
  text-align: center;

}
.red{
  width : 99%;
  background-color : darkred;
  margin-top: 26%;
  height: 45%;
  display: inline-block;
  position:absolute;
  text-align: center;

}
.brown, .blue, .orange{
  visibility: hidden;
  position:absolute;
  height:0px;
}
.flex-img{
  max-height:100%;
}
