HTML{

  }
header{
  background-color : grey;
  text-align : left;
  padding-left : 15px;
  display : inline-block;
  vertical-align: middle;
  position : relative;
  width : 99%;
  height : 15%;
  min-height:50px;
  margin-top : 0px;
  margin-right : 0px;
  border-radius: 0px 0px 15px 15px;
}

.center{
  width : 99%;
  height: 65%;
  min-height: 500px;
  background-color : silver;
  margin-left: 0px;
  margin-right : 0px;
  position: relative;
  display: inline-block;
  margin-top : 1%;
  margin-bottom : 1%;
  border-radius : 15px 15px 15px 15px;
  line-height: normal;
}
.text {
  margin-top : 3%;
  min-height: 70px;
}
.text2 {
  align-items : center;
  padding-right:15px;
}
.button{
 background: -moz-linear-gradient(blue,black);
 border-color: -moz-linear-gradient(blue,red);
 margin-bottom: 5px;
 border:10px;
 color: white;
 border-radius: 70px 70px 70px 70px;
 height:115px;
}
footer{
  background-color : black;
  text-align : left;
  padding-left : 10px;
  color : white;
  position:relative;
  display : inline-block;
  float: bottom;
  margin-left:0px;
  margin-top:1%;
  margin-right:0px;
  width : 100%;
  height : 15%;
  min-height : 150px;
  border-radius: 15px 15px 0px 0px;
}
