.flex-container{
  flex-direction : row;
}
.orange{
  background-color : orange;
  display : inline-block;
  position: static;
  margin-left : 0px;
  margin-top : 0px;
  border-color: black;
  width : 49.8%;
  height: 10vh;
}

.yellow{
  background-color : yellow;
  display : inline-block;
  position: static;
  margin-left : 0%;
  margin-top : 1vh;
  width : 100%;
  height: 19vh;

}
.blue {
  background-color : blue;
  display : inline-block;
  position: static;
  margin-left : 0%;
  margin-top : 1vh;
  width : 32.6%;
  border: solid white;
  height: 29vh;
}
.grey{
  background-color : grey;
  display : inline-block;
  position: static;
  margin-left : 0%;
  margin-top : 1vh;
  width : 24.2%;
  border: solid white;
  height: 32vh;
}
