HTML{
  background-image: url("IMG_4459.JPG");
  width: 100%;
  background-size: cover;
}
header{
  background-color : lightblue;
  text-align : center;
  line-height: 15vh;
  display : block;
  position : relative;
  border-style : solid;
  margin-left : 5%;
  width : 90%;
  height : 15vh;
  margin-top : 0px;
  border-radius: 0px 0px 15px 15px;
}
menu{
  background-color: #cccccc;
  text-align : left;
  display : block;
  position : fixed;
  border-style :none;
  margin-left : 0%;
  width : 10%;
  height : 600px;
  margin-top : 0px;
  margin-bottom: ;
  border-radius : 10px 10px 10px 10px;
  opacity : 0.7;
}
.centerBlock{
  text-align : left;
  display: block;
  position: relative;
  margin-left : 15%;
}
footer{
  background-color : lightblue;
  text-align : center;
  line-height: 8vh;
  display : block;
  position : absolute;
  border-style : solid;
  margin-left : 5%;
  width : 90%;
  height : 15vh;
  bottom : 0px;
  border-radius: 15px 15px 0px 0px;
}
