.flex-container{
  width:100%;
  display: flex;
  flex-direction : row;
  align-items:center;
  justify-content: space-between;
  margin-top: 0.5%;
}
.orange{
  background-color : orange;
  display : inline-block;
  position: static;
  width : 49.1%;
  height: 10vh;
}

.yellow{
  background-color : yellow;
  display : inline-block;
  position: static;
  width : 100%;
  height: 19vh;

}
.blue {
  background-color : blue;
  display : inline-block;
  position: static;
  width : 32%;
  height: 29vh;
}
.grey{
  background-color : grey;
  display : inline-block;
  position: static;
  width : 24%;
  height: 34vh;
}
